<h2 style="text-align: center;"><span style="color: #1b4332;"><strong>Bil481-HW1</strong></span></h2>
<hr />
<p style="text-align: center;"><span style="color: #2d6a4f;">
<strong>This sample website checks the boundries of given list's mean.</strong></span></p>
<p style="text-align: center;"><span style="color: #40916c;">
<strong>To test it, please enter a list of numbers seperated by lines or ";". Then write two numbers to the other box. Website will calculate the mean of list and check if it's between given numbers.</strong></span></p>
<p style="text-align: center; color: #52b788"><strong>To see the source code:</strong> 
<a style="color: #000000;" title="GitHub Repository" href="https://github.com/t4r7k/Bil481-HW1" target="_blank">GitHub Repository</a></p>

<hr />
<p style="text-align: center;"><strong>To continue to test website and go to compute page</strong></p>
<p style="text-align: center;"><span style="color: #993366;"><strong><a style="color: #993366;" title="/compute" href="https://secure-spire-10198.herokuapp.com/compute">Please click here</a></strong></span></p>
</form>

<body style="background-color: #f1faee;">